* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 10px;
}

.App {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  width: 33%;
  height: 100vh;
  position: relative;
}

.content {
  width: 67%;
  height: 100vh;
  background-color: aqua;
}

.sidebar--logo {
  padding: 30px;
  text-align: center;
  background-color: #d5167a;
}

.sidebar--logo img {
  width: 100px;
}

.sidebar--nav {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: #f4f4f6;
  z-index: 1;
}

.sidebar--nav .icon {
  font-size: 1.8rem;

  height: 40px;
}

.sidebar--nav .ti-star {
  font-size: 2.2rem;
}

.nav--icon {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.sidebar--suggestion {
  text-align: center;
  padding: 20px;
}

.sidebar--suggestion .ti-angle-left,
.sidebar--suggestion .ti-angle-right {
  font-size: 0.7rem;
}

.sidebar--suggestion span {
  font-weight: 600;
  font-size: 1.1rem;
  width: 70px;
  margin: 0px 20px;
}

.sidebar--songs {
  height: 220px;
  background-color: aquamarine;
}

.general--content {
  height: calc(100vh - 170px);
  overflow: auto;
}

.sidebar--title {
  padding: 25px 0;
}

.sidebar--title .ti-angle-right {
  font-size: 0.7rem;
}

.sidebar--title-context {
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 10px;
}

.sidebar--content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.sidebar--item-content {
  width: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.content--note-container {
  padding: 12px;
  margin: 15px 0px;
}

.content--note {
  padding: 15px;
  background-color: #f4f4f6;
  font-size: 0.7rem;
  border-radius: 10px;
}
